/docs
node_modules/
/src/
/tests/
/test/
tools/
CNAME
*.ico
/*.xml
/*.yml
/*.iml
/.gitattributes
/.gitignore
/.editorconfig
/.npmignore
/.babelrc
/.tua-cache
/examples
/package
*.tgz
projectDemo/.cache-loader
projectDemo/package.json
projectDemo/.babelrc
projectDemo/dist
projectDemo/node_modules
projectDemo/.postcssrc.js
yarn.lock
*~
/.idea
/run
!/projectDemo/.editorconfig
!/projectDemo/.gitattributes
!/projectDemo/.gitignore
!/projectDemo/.tuarc
/.vscode
coverage/
